site_name: ASCII3D
nav:
  - Home: index.md
  - Theory: 01-Theory/00-SimpleGaze.md
  - Tips: 09-Tips/quoets.md
  - TODO: 10-TODO/01-2Sides3dRendering.md
theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
